body, html { 
  font-family: 'Helvetica Neue', 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 13px;
  /*letter-spacing: 0.6px;*/
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
	text-decoration: none;
}

.pointer {
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] {
  border: 1px solid #ffffff;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 .25em 0 0;
  padding:0;
  vertical-align: top;
  width: 16px;
}

li[class="sidebar-brand"]:hover{
	cursor: default;
}

#panel-header-blue {
	background-color: #428BCA;
	/*color: #fff;*/
	/*height: 60px;*/
}

/*.btn-primary-outline {
  background-color: transparent;
  border-color: #ccc;
}
*/

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

/*.modal-backdrop {
    visibility: hidden !important;
}
.modal.in {
    background-color: rgba(0,0,0,0.5);
}*/

label[for^=product_name],
label[for^=cost_price],
label[for^=selling_price],
label[for^=username],
label[for^=password],
label[for^=company_name],
label[for^=return_quantity],
label[for^=fname],
label[for^=email] {
  color: red;
}

input#tax {
  padding: 15px;
}

.panel-default > .panel-heading h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
  padding-top: 5px;
  color: #555555;
}

table > * {
  font-size: 13px;
}

div > #btnAddItem, .item_config {
  margin-top: -5px; 
}

th#action:hover {
  cursor: default;
}

.dataTable > thead > tr > th#action[class*=sort]:after{
  display:none;
}



.horizontal {
  margin-left: 125px;
}

input.submit_button {
    padding-right: 10px !important;
}

input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

.floating_button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999999999;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 30px -7px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 2px 2px 30px -7px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 2px 2px 30px -7px rgba(0, 0, 0, 0.75) !important;
}

.btn-primary {
  background-color: #489ee7;
  border: 0px;
}

.btn {
  border-radius: 0;
  font-family: 'Helvetica Neue', 'Nunito', sans-serif;
  font-size: 13px;
  font-weight: 300;
  outline: 0;
}

.btn-primary {
  color: #fff;
  border-color: #2e6da4;
  background-color: #489ee7;
  border: 0px;

}

.btn {
  display: inline-block;
  padding: 6px 12px;
  padding-right: 12px;
  padding-left: 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  /*border: 1px solid transparent;*/
  border-radius: 4px;
}

.control-label {
  font-weight: 400px;
  letter-spacing: 0.25px;
  color: #555555;
  margin-bottom: 5px !important;
  font-size: 13px;
}

.form-group .form-control {
  border-radius: 0px;
  box-shadow: none;
  border-color: #d7dce5;
  height: 40px;
  font-weight: 300;
  line-height: 26px;
  color: #000;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #3192e4;
  /*border: 0px;*/
  color: #ffffff;
}

.error {
  color: red;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: 1px 4px 0 0;
  vertical-align: middle;
  background: url(files/images/cbr.png) left top no-repeat;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.item_config,
.count_config {
  /*background: #F2F6F9;*/
  margin-left: 5px;
  height: 35px;
  background-color: #eee;
  font-size: 14px;
}

.nav > li > a:hover,
.nav > .open > a:focus,
.nav > li > a:active {
  background-color: inherit;
}

.btn_options {
  margin-right: 5px;
}

ul.li-category,
ul.li-manufacturer {
  list-style: none;
  font-size: 13px;
  line-height: 36px;
}

.delete_category {
  color: red;
}

a.link-red {
  color: red;
}

.nav-color {
  background: #111116;
}

#footers {
  margin-top: 50px;
  padding-bottom: 50px;
}

.col-md-12 {
    width: 100%;
}

#user-icon,
#user-icon:hover {
  background:#489ee7;
}

#btnNewSales,
#btnDeleteProduct {
  margin-top: -5px;
}

.quick-actions a:hover {
  background-color: #489ee7;
  color: white;
}

.panel-heading h1 {
  font-size: 17px;
  font-weight: normal;
}

.modal-item-info .modal-item-details {
    margin-bottom: 20px;
}

.modal-item-info .modal-item-details .modal-item-name {
    font-size: 24px;
    color: #489ee7;
    display: block;
}

.modal-item-info .modal-item-details .modal-item-category {
    font-size: 14px;
    font-style: italic;
    color: #000;
}

.table-bordered {
    border: 1px solid #d7dce5;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

table {
    border: none;
}

table {
    background-color: transparent;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

/* small screens? nope!
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}*/

@media only screen and (min-width: 768px) {
  .modal {
    text-align: center;
  }
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  .modal.fade .modal-dialog {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    //-webkit-transform: translate3d(0, -300px, 0);
    //transform: translate3d(0, -300px, 0);
    opacity: 1;
  }
}

.post_error {
  font-size: 13px;
}

.post_error b, strong {
  font-weight: 700;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.actions {
  margin-bottom: 20px;
}

/*.col-md-6 {
  float: left;
}
*/
.input-group {
    padding: 0px !important;
}
.input-daterange {
    margin-bottom: 10px !important;
}
.input-daterange {
    width: 100%;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.form-group .input-group .input-group-addon.bg {
    background: #489ee7;
    padding: 6px 12px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
}
.form-group .input-group .input-group-addon {
    border-radius: 0px;
    border-width: 0px;
    text-align: center;
}

.panel-heading .reports-range {
    color: #6cadd1 !important;
}

.small, small {
    font-size: 85%;
}

@media print {
  .dataTables_length,
  .dataTables_filter,
  #employees_report_info,
  #employees_report_paginate,
  #issues_table_info,
  #issues_table_paginate,
  #product_sales_report_info,
  #product_sales_report_paginate {
    display: none !important;
  }
}

textarea {
  resize: none;
}

#search {
  width: 200px;
}

#search-inline {
  background-color: #eee;
}

#search-inline > *{
  list-style: none;
  float: left;
}

.li-right {
  float: right !important;
  margin-top: 20px;
}

#btnAddProduct,
#btnAddStock,
#btnAddItem {
  height: 35px;
  margin-top: -5px;
}

.reports-range {
    color: #6cadd1 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.col-md-12 #scan_barcode{
  text-decoration: none;
}

p#time {
  color: #fff;
  margin-top: 15px;
  font-size: 15px;
}

.text-red {
  color: #c7254e;
}

.legends {
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.yellow {
  background: #fcf8e3;
}

.red {
  background: red;
}

.wine {
  background: #ae163e;
}

.receipt_space {
  margin-bottom: 8px;
}

hr {
  border:none;
  border-top:1px dotted #cbd5db;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:100%;
}

@media print {
  a[href]:after {
    content: none !important;
  }
}